{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile_orders.css' %}">

<div class="profile-container">
  <div class="profile-card">
    <h2>Welcome, {{ user.username }}</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    
  </div>

  
  <div class="orders-grid">
    {% if orders %}
     <a href="{% url 'orders' %}"><h3 class="orders-heading">Your Orders</h3>
      </a>
    {% else %}
      <p class="no-orders">You haven’t placed any orders yet.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
